.project-card{
    width: 350px;
    /* border: 1px solid #29a847; */
    border: 1px solid #4ffa4f;
    padding: 18px;
    border-radius: 15px;
}
.project-card:hover{
    /* box-shadow: 10px 10px 20px #29a847; */
    box-shadow: 10px 10px 20px #4ffa4f;
}
.project-card img{
        border-radius: 5%;
}
.green-btn{
    /* border: 2px solid #29a847; */
    border: 2px solid #4ffa4f;
    color:white;
}
.green-btn:hover{
    color:black;
    font-weight: bold;
    background-color:#4ffa4f !important;
}
.project-card p{
    text-align: justify!important;
}